.horloge-container {

    --globale-width-height-horloge-container : 500px;
    --globale-background-color-horloge : rgb(255, 255, 255) ;
    --globale-border-horloge: 10px solid rgb(0, 0, 0) ;
    



    background-color: bisque;
    width:var(--globale-width-height-horloge-container);
    height:var(--globale-width-height-horloge-container);
}

.horloge {
    
    position: relative;
    box-sizing: border-box;
    width:var(--globale-width-height-horloge-container);
    height:var(--globale-width-height-horloge-container);
    border:var(--globale-border-horloge);
    background-color:var(--globale-background-color-horloge);
    border-radius: 50%;
}


.horloge .number {

    position: absolute;
    font-size: 20px;
    

    height: 0px;
    margin:0px;
    padding:0px;
    
   
    width: 45%;
    top: 50%;
    left: 5%;
    
   
    transform-origin: right top ;
    transform: rotate(0deg);
}

.horloge .number span {
    
    font-size: 40px;
    position: absolute;
    top: -20px;

    
   
}

.heur.fleche  {

    left: calc(50% - var(--fleche-width)/2);
    top: calc(50% + var(--fleche-width)/2 - var( --fleche-height) );

    --fleche-width: 25px ;
    --fleche-ration-width-height:5;
    
}
.minute.fleche  {

    left: calc(50% - var(--fleche-width)/2);
    top: calc(50% + var(--fleche-width)/2 - var( --fleche-height) );

    --fleche-width: 25px ;
    --fleche-ration-width-height:7;
    --fleche-body-color: rgb(126, 126, 126) ; 
   
}

.second.fleche  {

    left: calc(50% - var(--fleche-width)/2);
    top: calc(50% + var(--fleche-width)/2 - var( --fleche-height) );

    /* Modification de variable de la class fleche  */
    --fleche-width: 25px ;
    --fleche-ration-width-height:9;
    --fleche-body-color: rgb(255, 0, 0) ; 
    /* -------------------------------------------- */

}

/*
    Desinge fleche   
*/

.fleche {

    /* Variable Modifiable  */
    --fleche-width: 100px ;
    --fleche-ration-width-height:5;
    --fleche-tete-color: rgb(0, 0, 0) ; 
    --fleche-body-color: rgb(0, 0, 0) ; 
    --fleche-base-color: rgb(0, 0, 0) ; 
    /* -------------------- */

    --fleche-body-width: 25px  ;
    --fleche-height: calc( var(--fleche-width)*var(--fleche-ration-width-height) );

    position: absolute;
    width:var(--fleche-width) ;
    height:var(--fleche-height) ;

    transform-origin:calc(var(--fleche-width)/2) calc(var(--fleche-height) - var(--fleche-width)/2 )  ;
    transform: rotate(0deg);

}

.fleche-tete {
    position: absolute;
    left: calc(  var(--fleche-width)/4 - var(--fleche-width)/4 ) ;
    display : inline-block;
    height : 0;
    width : 0;
    border-right : calc(  var(--fleche-width)/2) solid transparent;
    border-bottom : calc(  var(--fleche-width)) solid var(--fleche-tete-color);
    border-left : calc(  var(--fleche-width)/2) solid transparent;

}



.fleche-body {
    position: absolute;
    width:calc(var(--fleche-width)/4);
    height:calc(var(--fleche-height) - var(--fleche-width) );
    background-color: var(--fleche-body-color);
    left: calc(  var(--fleche-width)/2 - var(--fleche-width)/4/2 ) ;
    top: var(--fleche-width)/2;
    bottom: calc(var(--fleche-width)/2) ;
}


.fleche-body-2 {
    position: absolute;
    height : 0;
    width : 0;
    left: calc(  var(--fleche-width)/2 - var(--fleche-width)/4 ) ;
    top: var(--fleche-width)/2;
    bottom: calc(var(--fleche-width)/2) ;

    border-right : calc(  var(--fleche-width)/4) solid transparent;
    border-bottom : calc( var(--fleche-height) - var(--fleche-width) ) solid var(--fleche-body-color);
    border-left : calc(  var(--fleche-width)/4) solid transparent;
}


.fleche-base {
    position: absolute;
    box-sizing: border-box;
    background-color: var(--fleche-base-color);
    width: var(--fleche-width);
    height: var(--fleche-width);
    border-radius: 50%;
    top: calc( var(--fleche-height) - var(--fleche-width)) ;
}

